@font-face{
    font-family: FuturaT;
    src: url(Fonts/FuturaT_Bold.ttf)
}

:root {
    background: linear-gradient(#5e0d94, #6262e2);
    background-attachment: fixed ;
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: FuturaT;
    color: white;
    font-size: 4rem;
}

button {
    font-family: FuturaT;
    font-size: 3rem;
    width: 20rem;
    height: 5rem;
    border-style: none;
    border-radius: 0.8rem;
    background-color: #0089e4;
}

button:hover{
    transition: 0.1;
    background-color: #52a3ff;
}

button:active{
    transition: 0.1;
    background-color: #006ae4;
    color: white;
}

#Shoot {
    margin-top: 0.3rem;
    width: 60rem;
}

#WinStatus, #PlayerForwardInput {
    font-size: 2rem;
}

#RPSButton {
    user-select: none;
}